@import "./nav.css";
@import "./tables.css";
@import "./sidebar.css";
@import "./generic.css";
@import "./base.css";

div.panel-body {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
}

div.page-segment {
  align-items: center;
  margin: 10px 0;
  height: 50px;
  border-radius: 5px;
}

div.small-page-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 20px;
  border-radius: 5px;
}

div.flex-container {
  display: flex;
}

div.dropdown-container {
  margin-right: 30px;
}

@media only screen and (max-width: 800px) {
  div.hidden {
    display: inline;
  }

  div.small-page-segment {
    height: 40px;
  }

  div.loading {
    font-size: 14px;
  }

  div.hidden-xs {
    display: none;
  }

  div.flex-container {
    justify-content: space-between;
  }
}
