h1,
h2,
h3,
h4,
h5,
h6 {
  margin: none;
  font-weight: 500;
}

body {
  background-color: #f5f2f0 !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

select {
  cursor: pointer;
  padding: 3px;
  height: 30px;
}

label {
  padding-right: 10px;
}
