nav {
  div.navbar-brand {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  div.logo-container {
    display: flex;
    justify-content: center;

    img.brand-logo {
      height: 40px;
    }
  }

  .navbar-form input {
    min-width: 280px !important;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 0 !important;
    margin: 7px !important;
    background-color: transparent;
    border: none !important;
  }

  .navbar .nav {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
  }
}

.subheader {
  padding-top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px #333;
}

#navbarSupportedContent {
  justify-content: inherit;
}
